.not-found {
    background-color: white;
    width: 1920px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.not-found__title {
    color: #2C2A29;
    font-weight: 500;
    font-size: 40px;
    line-height: 22px;
    text-align: center;
    margin: 0;
    padding: 350px 0 50px;
}

.not-found__span {
    color: #003C96;
}